{% extends 'base.html' %}
{% load staticfiles %}

{% block main_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Browse</h2>
                <div id="tree">

                </div>
            </div>
            <div class="col-md-6">
                <h2>Search</h2>
                <!-- https://docs.djangoproject.com/en/2.1/ref/contrib/postgres/search/ -->
                {% include 'search_task.html' %}
                <div id="search_result_view">

                </div>
                <div id="search_detail_view">

                </div>
            </div>
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title"></h3>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <!-- Modal body -->
                        <div class="modal-body">
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Schließen</button>
                        </div>
                    </div>
                </div>
            </div>
            <a href="{% url 'posttask_questionnaire' testperson_id %}">Weiter</a>
        </div>
    </div>
    <script>
        $(document).ready(function () {


                let sample_tree = JSON.parse({{ tree | safe }});
                $("#tree").jstree({
                    'core': sample_tree,
                });

                function generate_display_table(results) {
                    let result_html = '';
                    results.forEach(function (result) {
                        let title = '<h3>' + result.title + '</h3>';
                        let content = '<p>' + result.content + '</p>';
                        result_html += '<div>' + title + content + '</div>';
                    });
                    return result_html;
                }

                function generate_result_table_html(data) {
                    let result_html = '';
                    data.forEach(function (article) {

                        let table_header = '<table class="table table-bordered table-hover"><thead><tr><th>Article Name</th></tr></thead><tbody>';
                        let article_entry_header = '<tr class=\"clickable-row\" id=\"' + article.title_id + '\">\n';
                        let article_title_cell = '<td>' + article.title + '</td>\n';
                        let article_entry_footer = '</tr>\n';
                        let table_footer = '</tbody></table>';
                        result_html += table_header + article_entry_header + article_title_cell + article_entry_footer + table_footer;
                    });
                    return result_html;
                }

                function onArticleTitleClick(event) {
                    console.log(event.target.parentNode.id);
                    $.ajax({
                        url: "{% url 'get_article_data' %}",
                        type: "GET",
                        data: {'title_id': event.target.parentNode.id},
                        dataType: 'json',
                        success: function (data) {
                            let result_table_html = generate_display_table(data.results);
                            $('#search_detail_view').html(result_table_html);
                        },
                        error: function (xhr, errmsg, err) {
                            console.log("ERROR");
                        }

                    });
                }

                function show_results() {
                    $.ajax({
                        url: "{% url 'get_search_results' %}",
                        type: "GET",
                        data: {'schlagwort': $('#id_content').val()},
                        dataType: 'json',
                        success: function (data) {
                            let result_table_html = generate_result_table_html(data.results);
                            $("#search_detail_view").empty();
                            $('#search_result_view').html(result_table_html);
                            $(".clickable-row").click(onArticleTitleClick);

                        },
                        error: function (xhr, errmsg, err) {
                            console.log("ERROR");
                        }
                    });
                }


                $("#search_form").on('submit', function (event) {
                    event.preventDefault();
                    console.log("form submitted!");
                    show_results();
                });


            }
        );
    </script>
    <script src="{% static "js/BrowseSearchLogger.js" %}"></script>
    <script>

        //https://stackoverflow.com/questions/11452205/how-can-i-tell-if-jstree-has-fully-loaded
        document.addEventListener('DOMContentLoaded', function () {
            App.BrowseSearchLogger.init({{ testperson_id }}, {{ pretask_id }}, document.getElementsByClassName("jstree-node"), "{% url 'get_article_data' %}");

        });

    </script>

{% endblock %}
